*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // now 1rem = 10px
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 300;
  color: var(--color-secondary);
}

a {
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}
