// ********************
// Color Variables
// ********************

$colorMain: #000;
$colorSecondary: #fff;
$shadow: #D0D0D0;


// ********************
// Fonts variables
// ********************

$fontLogo: 'PalaceScriptMT', serif;
$fontHeaders: 'Amatic SC', cursive;
$fontBody: 'Josefin Sans', sans-serif;