.intro {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  padding: 5rem 6rem;
  margin: auto;

  background-image: url(../../img/tp-bg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  color: var(--color-secondary);

  &__logo {
    margin-right: 2rem;

    display: block;

    font-family: $font-logo;
    font-size: 12rem;
    text-align: right;
  }

  &__logo-url {
    display: block;

    font-size: 1.8rem;
    text-align: right;
  }

  &__heading {
    font-size: 5rem;
  }

  &__nav {
    margin-top: 3rem;

    display: flex;
    justify-content: flex-end;
    gap: 5rem;

    font-size: 2rem;
  }

  &__nav-link {
    position: relative;
    &::after {
      content: "";
      height: 1rem;
      width: 100%;

      position: absolute;
      left: 0;
      bottom: -4px;

      border-bottom: 1px solid;
      opacity: 0;
      transform: scaleX(0);
      transition: all 0.35s ease-in-out;
    }
    &:hover::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  &__social-icon {
    width: 5.5rem;
    height: 5.5rem;

    border-radius: 50%;
    border: 2px solid var(--color-main);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: none;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;

    // fix  webkit lagged animation
    backface-visibility: hidden;

    svg {
      fill: var(--color-secondary);
    }

    &:hover {
      border-color: var(--color-secondary);
      transform: scale(1);
    }
  }
}
