.intro {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  padding: 5rem 6rem;
  margin: auto;

  background-image: url(../../img/tp-bg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @include displayFlex(
    $direction: column,
    $justify: space-between,
    $align-items: flex-end
  );

  color: var(--color-secondary);

  &__logo {
    margin-right: 2rem;

    display: block;

    font-family: $font-logo;
    font-size: 12rem;
    text-align: right;
  }

  &__logo-url {
    display: block;

    font-size: 1.8rem;
    text-align: right;
  }

  &__content-box {
    @include displayFlex($direction: column, $justify: flex-end);
    gap: 3rem;
  }

  &__heading {
    font-size: 5rem;
  }

  &__social-icon {
    border-radius: 50%;
    border: 2px solid var(--color-main);

    display: inline-block;

    box-shadow: none;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;

    // fix  webkit lagged animation
    backface-visibility: hidden;

    svg {
      fill: var(--color-secondary);
    }
  }
}
