// ********************
// Color Variables
// ********************

$color-main: #000;
$color-secondary: #fff;

$shadow: #d0d0d0;

// ********************
// Fonts variables
// ********************

$font-primary: "Raleway", sans-serif;
$font-logo: "PalaceScriptMT", sans-serif;

$paragraph-font-size: 2rem;

// ********************
// Root CSS variables
// ********************
:root {
  --color-main: #{$color-main};
  --color-main-rgb: 0, 0, 0;
  --color-secondary: #{$color-secondary};
  --color-secondary-rgb: 255, 255, 255;
}
