// ********************
// Color Variables
// ********************

$color-main: #000;
$color-secondary: #fff;

$shadow: #d0d0d0;

// ********************
// Fonts variables
// ********************

$font-primary: "Raleway", sans-serif;
$font-logo: "PalaceScriptMT", sans-serif;

// ********************
// Root CSS variables
// ********************
:root {
  --color-main: #{$color-main};
  --color-secondary: #{$color-secondary};
}
