/**
* Button over dark and light background
*
*/
.btn {
  border-radius: 25px;
  padding: 16px;
  font-size: 1.25rem;
  line-height: 0.7;
  @include transition15;
}

.btn-light {
  border: 1px solid var(--color-secondary);
  color: var(----color-secondary);
  background: rgba(121, 121, 121, 0.7);

  &:hover {
    background: rgba(var(--color-secondary), 0.7);
    color: var(--color-main);
    box-shadow: $shadow 0px 0px 10px 4px;
  }
}
