// ********************
// Content
// ********************
.content {
  @include displayFlex($direction: column, $align-items: center);

  &__title {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    font-family: $font-primary;
    font-weight: 100;
    font-size: 5rem;
    line-height: 1;
  }
}
