// ********************
// Footer styles
// ********************

.footer {
  padding: 3rem;

  @include displayFlex($justify: space-around, $align-items: center);

  &__info {
    @include displayFlex($direction: column);
    align-content: flex-end;
    gap: 0.5rem;
  }

  &__url,
  &__copyright {
    text-align: right;
  }

  &__url {
    font-size: 2rem;
  }

  &__copyright {
    font-size: 1.5rem;
  }
}
