// ********************
// Footer styles
// ********************

.site-footer {
  padding: 40px 15px;
  background: $shadow;

  .site-info {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: var(--color-main);
      font-family: $font-logo;
      font-size: 4rem;
    }
  }
}
