// ********************
// Header styles
// ********************

.header {
  padding: 3rem;

  @include displayFlex($direction: column, $align-items: center);

  &__logo {
    font-family: $font-logo;
    font-size: 12rem;
  }
}
