// ********************
// Header styles
// ********************

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--color-secondary);
  z-index: 1071;

  .navbar-brand,
  .site-description {
    margin: 0;
  }

  .navbar-brand {
    color: var(--color-main);
    font-family: $font-logo;
    font-size: 4rem;
    line-height: 50px;
  }

  .navbar-nav {
    .nav-link {
      color: var(--color-main);
      font-family: $font-primary;
      font-size: 1.8rem;
    }
  }
}
